@model Brandingv1._0.Models.estudios

@{
    ViewBag.Title = "Detalles de Estudios";
}

<h2>Detalles</h2>

<div>
    <h4>estudios</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.institucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.institucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.especialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.especialidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaini)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaini)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechafin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechafin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.estudiosID }) |
    @Html.ActionLink("volver", "Index")
</p>
