@model IEnumerable<Brandingv1._0.Models.estudios>

@{
    ViewBag.Title = "Estudios Realizados";
}

<h2>Estudios Realizados</h2>

<p>
    @Html.ActionLink("Nuevo estudio", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.institucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.especialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaini)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechafin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.institucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.especialidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaini)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechafin)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.estudiosID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.estudiosID }) |
            @Html.ActionLink("borrar", "Delete", new { id=item.estudiosID })
        </td>
    </tr>
}

</table>
