@model Brandingv1._0.Models.hobbies

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<div>

	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hobbie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hobbie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.estudiosID }) |
    @Html.ActionLink("volver", "Index")
</p>
