@model Brandingv1._0.Models.hojavida

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>¿Estas seguro de borrar esto?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.institucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.institucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.puesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaini)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaini)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechafin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechafin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrer" class="btn btn-default" /> |
            @Html.ActionLink("volver", "Index")
        </div>
    }
</div>
